{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block footer %}

    <!-- Footer -->
    <div id="wrapper">
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt"><span class="label">Twitter</span><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="icon alt"><span class="label">Facebook</span><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="icon alt"><span class="label">Instagram</span><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="icon alt"><span class="label">LinkedIn</span><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <ul class="copyright">
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="#">&copy;</a> KeepConnection</li>
                    <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>
    </div>

{% endblock %}