{% extends 'layout.html.twig' %}

{% block title %}Panel{% endblock %}

{% block body %}

    <section>
        <h3>Navigation</h3>
        <ul>
            <li><a href="{{ path('navigation_index') }}">index navigation</a></li>
            <li><a href="{{ path('navigation_new') }}">nouvelle navigation</a></li>
        </ul>
    </section>
    <section>
        <h3>Galerie</h3>
    </section>
    <section>
        <h3>Articles</h3>
    </section>
    <section>
        <h3>Fabrication</h3>
    </section>

{% endblock %}

